* {
    box-sizing: border-box;
}

html, body {
    margin:0;
    padding:0;
    height:100%;
    background: #111419;
    display:flex;
    justify-content: center;
    align-items: center;
}

.game-container {
    position: relative;
    width: 240px;
    height: 208px;
    background: url(/assets/background.png) no-repeat no-repeat;
    transform: scale(3);
    image-rendering: pixelated;
}

.character {}

.character_sprite{}

.character_shadow {}

.character_name {}

.character_name_container {}

.character_coins {}

.character_you_arrow {}

.grid-cell {}

.you {}