@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double:wght@100..900&family=Figtree:ital,wght@0,300..900;1,300..900&family=Jersey+20&display=swap');

* {
    box-sizing: border-box;
}

html, body {
    margin:0;
    padding:0;
    height:100%;
    background: #02182b;
    display:flex;
    justify-content: center;
    align-items: center;
    font-family: 'Figtree', sans-serif;

}

.game-container {
    position: relative;
    width: 240px;
    height: 208px;
    background: url(/assets/bg.png) no-repeat no-repeat;
    transform: scale(3);
    image-rendering: pixelated;
}

.character {
    transition: transform 0.4s
}

.character_sprite{
    overflow:hidden;
    top:-3px;
    background: url(/assets/character.png);
}

.character[data-direction="right"] .character_sprite {
    background-position-x: 16px;
}

.character[data-color="blue"] .character_sprite {
    background-position-y: -16px;
}

.character[data-color="green"] .character_sprite {
    background-position-y: -32px;
}

.character[data-color="yellow"] .character_sprite {
    background-position-y: -48px;
}

.character[data-color="purple"] .character_sprite {
    background-position-y: -64px;
}


.character_shadow {}

.character_name {}

.character_name_container {
      position: absolute;
  top: -12px;
  left: -20px;
  font-size: 5px;
  padding: 1px 2px 1px;
  border-radius: 3px;
  background: #333;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  white-space: nowrap;
}

.character_coins {
    margin-left: 1px;
    color: gold;
    font-family:'Bitcount Grid Double', monospace;
}

.character_you_arrow {
    display: none;
    position: absolute;
    top:-55px;
    left:0px;
    width: 40px;
    height:40px;
    transform: scaleY(-1);
    background: url(/assets/arrow.png) no-repeat no-repeat;
}

.character.you {
    z-index: 1;
}

.character.you .character_you_arrow {
    display: block;
}

.grid-cell {
    position:absolute;
    width: 16px;
    height: 16px;
}

.you {}